<div class="field">
  <%= f.label :custom_class %>
  <%= f.text_field :custom_class %>
</div>
<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body, rows: 10, class: 'visual_editor widest' %>
</div>
<%= link_to '[remove flex-element]', '#', class: 'remove_element' %>