<div class="field">
  <%= f.label :custom_class %>
  <%= f.text_field :custom_class %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= render '/refinery/admin/image_picker',
             f: f,
             field: :image_id,
             image: f.object.image,
             toggle_image_display: false
  %>
</div>

<div class="field">
  <%= f.label :caption %>
  <%= f.text_field :caption, size: 150 %>
</div>

<div class="field">
  <%= f.label :image_width %>
  <%= f.text_field :image_width %>
</div>

<div class="field">
  <%= f.label :image_height %>
  <%= f.text_field :image_height %>
</div>

<%= link_to '[remove flex-element]', '#', class: 'remove_element' %>