<!DOCTYPE html>
<html>
<head>
  <title>RefinerycmsFlexibleContent</title>
  <%= stylesheet_link_tag    "refinerycms_flexible_content/application", media: "all" %>
  <%= javascript_include_tag "refinerycms_flexible_content/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
