<div class="field">
  <div class="field">
    <%= f.label :style %>
    <%= f.select :style, options_for_select(f.object.style_options, selected: f.object.style) %>
  </div>
  <div id="image_list_items">
    <div style="border:1px">
      <%= f.fields_for :image_list_items do |builder| %>
          <%= render 'refinery/admin/image_list_items', f: builder %>
      <% end %>
      <%= Refinery::FlexibleContent::FormHelper.link_to_add_image_list_items(self, f, :image_list_items) %>
    </div>
  </div>
</div>
<%= link_to '[remove flex-element]', '#', class: 'remove_element' %>