<div class="flexible-element-block flexible-image-element <%= element.custom_class %>">
  <div class="flexible-image">
    <%= image_tag element.image.url if element.image_id %>
  </div>
  <div class="image-caption">
    <%= element.caption.html_safe if element.caption %>
  </div>
</div>
