<fieldset class="flexible-elements">
  <% f.object = f.object.decorate %>
  <h3><%= f.object.element_type %></h3>
  <div class="flexible-elements-positioner">
    <a href="#" class="up-end"></a>
    <a href="#" class="up"></a>
    <a href="#" class="down"></a>
    <a href="#" class="down-end"></a>
  </div>
  <%= f.hidden_field :flex_element_type, value: f.object.flex_element_type %>
  <%= f.hidden_field :_destroy, class: :destroy %>
  <%= f.hidden_field :position, class: :position %>
  <%= f.object.render_form(f) %>
</fieldset>


