<div class="image-list fieldset">
  <div class="field">
    <%= f.label :custom_class %>
    <%= f.text_field :custom_class %>
  </div>

  <!--<div class="field">-->
  <%#= f.label :text %>
  <%#= f.text_area :text, rows: 2, class: 'visual_editor widest' %>
  <!--</div>-->

  <div class="field">
    <%= f.label :image %>
    <%= render '/refinery/admin/image_picker',
               f: f,
               field: :image_id,
               image: f.object.image,
               toggle_image_display: false
    %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption, size: 150 %>
  </div>

  <div class="field">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Item entfernen", '#', class: "remove_item" %>
  </div>
</div>