@import "compass/css3";

#flexible_elements {
  margin-top: 20px;
  border: 4px solid lightblue;
  fieldset {
    border: none;
    margin: 10px;
    background-color: lightgray;
  }
}


.flexible-elements {
  h3{
    cursor: pointer;
  }
  position: relative;
  @include transition-duration(0.3s);
  @include transition-property(max-height);
  @include transition-timing-function(ease-out);
  max-height: 50px;
  overflow: hidden;

  &.open{
    max-height:9999px;
  }
}

.flexible-elements-positioner {
  position: absolute;
  top: 23px;
  right: 10px;
  a {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-left: 5px;
    border-bottom: none !important;
  }
  .down {
    background: url('flex-arrows/down.png') no-repeat;
  }
  .down-end {
    background: url('flex-arrows/down-end.png') no-repeat;
  }
  .up {
    background: url('flex-arrows/up.png') no-repeat;
  }
  .up-end {
    background: url('flex-arrows/up-end.png') no-repeat;
  }
}

.image-list.fieldset{
  border:1px solid darkgray !important;
  background-color: lightyellow !important;
  padding:10px;
  margin-top:20px;
}

.remove_element{
  display:block;
  margin-top:20px;
}