<div class="field">
  <%= f.label :custom_class %>
  <%= f.text_field :custom_class %>
</div>

<div class="field">
  <%= f.label :caption %>
  <%= f.text_field :caption, size: 150 %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= render '/refinery/admin/image_picker',
             f: f,
             field: :image_id,
             image: f.object.image,
             toggle_image_display: false
  %>
</div>

<div class="field">
  <%= f.label :is_background_image %>
  <%= f.check_box :is_background_image %>
</div>
<div class="field">
  <%= f.label :full_size %>
  <%= f.check_box :full_size %>
</div>
<div class="field">
  <%= f.label :image_position %>
  <%= f.select :image_position, options_for_select(f.object.image_positions, selected: f.object.image_position) %>
</div>
<div class="field">
  <%= f.label :text_position %>
  <%= f.select :text_position, options_for_select(f.object.image_positions, selected: f.object.image_position) %>
</div>

<div class="field">
  <%= f.label :image_width %>
  <%= f.text_field :image_width %>
</div>
<div class="field">
  <%= f.label :image_height %>
  <%= f.text_field :image_height %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body, rows: 10, class: 'visual_editor widest' %>
</div>


<%= link_to '[remove flex-element]', '#', class: 'remove_element' %>