.flexible-element-block{
  display: block;
  overflow: hidden;
  position: relative;
  width:100%;
  &.full-size, &.slider, &.shuffle{
    max-width: 100%;
    width:100%;
    img{
      width:100%;
    }
  }
  .flexible-image{
//    &.flex-position-left, &.flex-position-right{
//      width: 49%;
//    }
    &.flex-position-left{
      float:left;
    }
    &.flex-position-right{
      float:right;
    }
    &.flex-position-above, &.flex-position-below{
      width:100%;
    }
  }
}

.flexible-text{
  &.overlay{
    position:absolute;
  }
}