<div class="flexible-element-block flexible-text-3-column-element <%= element.custom_class %>">
  <div class="flexible-text-column body-1">
    <%= raw element.body_1 %>
  </div>
  <div class="flexible-text-column body-2">
    <%= raw element.body_2 %>
  </div>
  <div class="flexible-text-column body-3">
    <%= raw element.body_3 %>
  </div>
</div>
