<div class="field">
  <%= f.label :custom_class %>
  <%= f.text_field :custom_class %>
</div>
<div class="field">
  <%= f.label :body_1 %>
  <%= f.text_area :body_1, rows: 10, class: 'visual_editor widest' %>
</div>
<div class="field">
  <%= f.label :body_2 %>
  <%= f.text_area :body_2, rows: 10, class: 'visual_editor widest' %>
</div>
<div class="field">
  <%= f.label :body_3 %>
  <%= f.text_area :body_3, rows: 10, class: 'visual_editor widest' %>
</div>
<%= link_to '[remove flex-element]', '#', class: 'remove_element' %>