<div class="flexible-element-block <%= element.style %>">
	<% if element.shuffle? %>
		<%= render 'refinery/image_lists/shuffle', element: element %>
	<% else %>
	  <%= render 'refinery/image_lists/slider', element: element%>
	<% end %>
</div>