<div class="flexible-image-list shuffle isotope">
  <div class="column-1">
  </div>
  <% element.image_list_items.each do |item| %>
      <% if item.image %>
          <div class="isotope-item column-1">
            <div class="flexible-image-text image">
              <%= image_tag item.image.url %>
            </div>
            <div class="image-caption">
              <%= item.caption.html_safe if item.caption %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>