<div class="flexible-image-list slider">
  <% element.image_list_items.each do |item| %>
      <% if item.image %>
          <div class="slider-item">
            <div class="flexible-image-text image">
              <%= image_tag item.image.url %>
            </div>
            <div class="image-caption">
              <%= item.caption.html_safe if item.caption %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
